<link rel="stylesheet" href="../static/css/contacts_block.css">

    <section class="contacts_block" style="margin-top: 50px;">
        <div class="contacts_block_container">
            <div class="contact_block_h1text">Зворотній зв'язок</div>
            <div class="redcircle"></div>
            <div class="contact_block_mainblock">
                <div class="contact_block_leftside">
                    <div class="leftside_h1text">контакти</div>
                    <nav class="adress_info">
                        <ul class="adress_item">
                            <a href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%A2%D0%B5%D1%80%D0%B5%D1%89%D0%B5%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0,+9,+%D0%9A%D0%B8%D1%97%D0%B2,+01004/@50.4422909,30.5150192,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cef8fab7641f:0xf976f9e16e57f104!8m2!3d50.4422909!4d30.5150192!16s%2Fg%2F1tfqdb28" target="_blank">
                                <li class="adress_link">адресса:вул. терещенківська, 9, київ, 01023, україна</li></a>
                        </ul>
                        <ul class="adress_item">
                            <a href="tel:(044) 287-73-24"><li class="adress_link">(044) 287-73-24 — приймальня</li></a>
                            <a href="tel:(044) 299-70-80"><li class="adress_link">(044) 299-70-80 — для довідок</li></a>
                        </ul>
                        <ul class="adress_item">
                            <li class="adress_link">електронна пошта:</li>
                            <a href="mailto:knag1922@ukr.net"><li class="adress_link">knag1922@ukr.net</li></a>
                        </ul>
                    </nav>
                </div>
                <div class="contact_block_rightside">
                    <div class="block_for_mapimg">
                        <img src="../static/images/map_kyiv.svg" alt="map" class="imgMap">
                    </div>
                </div>
                <a href="#">
                    <img src="../static/images/inst_ico_black.svg" alt="ico" class="img_inst">
                </a>
                <a href="#">
                    <img src="../static/images/Facebook_ico.svg" alt="ico" class="img_facebook">
                </a>
            </div>
        </div>
    </section>
