<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Museum</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_container">
                <div class="header_img">
                    <img src="../static/images/headerimg.svg"  class="header_real_img" alt="headerImg">
                </div>
                <nav class="header_menu">
                    <ul class="menu_list">
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="/" class="menu_link firstword">головна</a>
                        </li>
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="#about" class="menu_link">про нас</a>
                        </li>
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="#kolection" class="menu_link">колекції</a>
                        </li>
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="/vystavky" class="menu_link">виставки</a>
                        </li>
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="#contacts" class="menu_link contact_link">зворотній зв'язок</a>
                        </li>
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="#useful" class="menu_link menu_link-for_muve">корисна інформація</a>
                        </li>
                        <li class="menu_item">
                            <img src="../static/images/Vector 44.svg" alt="string" class="vector44">
                            <a href="/plan" class="menu_link menu_link-for_muve">запланувати візит</a>
                        </li>
                    </ul>
                </nav>
                <button class="lenguage_block">EN</button>
                <button class="burger" type="button">
                    <span>

                    </span>
                </button>
            </div>
        </header>
            <main class="main">
                <div class="main_container">
                    <section class="logo_and_img">
                        <div class="center_logo">
                            <img src="../static/images/лого.svg" alt="logo" class="center_logo_img">
                        </div>
                        <div class="block_for_twoImg">
                            <div class="block_for_twoImg__img">
                                <img src="../static/images/kart_1.svg" alt="kart" class="kart">
                            </div>
                            <div class="block_for_twoImg__img">
                                <img src="../static/images/kart_2.svg" alt="kart" class="kart">
                            </div>
                        </div>
                    </section>
                    <section id="about">
                        <div class="about_container">
                            <div class="about_leftside">
                                <h1 class="about_h1text">Про нас</h1>
                                <div class="about_ptext_block">
                                    <p class="about_ptext">
                                        Національний музей "Київська картинна галерея" є одним з найвизначніших музеїв у Києві, розташований у центрі міста.
                                    </p>
                                    <p class="about_ptext">
                                        Він заснований у 1904 році і присвячений збереженню та популяризації національної та світової образотворчої мистецької спадщини.
                                    </p>
                                </div>
                                <div class="redbolls">
                                    <div class="smallboll"></div>
                                    <div class="middleboll"></div>
                                    <div class="bigboll"></div>
                                </div>
                                <div class="arrow_text_block">
                                    <a href="/vystavky" class="onText">перейти до виставок</a>
                                    <div class="under_reaArrow">
                                        <img src="../static/images/redArrow 2.svg" alt="arrow" class="red_arrow">
                                    </div>
                                </div>
                            </div>
                            <div class="about_rightside">
                                <div class="about_img_block">
                                    <img src="../static/images/map_kyiv.svg" alt="map" class="about_imgkiyf">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="kolection">
                        <div class="kolection_container">
                            <div class="kolection_texth1">
                                <img src="../static/images/comp+kolec.svg" alt="text" class="kolection_text">
                            </div>
                            <div class="kolection_blockfortext">
                                <div class="kolection_ptext">Національний музей “Київська картинна галерея” – одна з найзначніших збірок образотворчого мистецтва України. </div>
                                <div class="kolection_ptext">Колекція налічує понад 13 тисяч творів різних епох та напрямків.</div>
                                <div class="kolection_ptext">Всі картини розподілені за періодами.</div>
                            </div>
                            <img src="../static/images/сумна пика.svg" alt="img" class="kolection_first_img">
                            <img src="../static/images/біляпики.svg" alt="img" class="kolection_second_img">
                            <div class="renesans_block">
                                <h1 class="renesans_texth1">ренесанс</h1>
                                <div class="renesans_texth2">весілля в кані галілейській</div>
                                <div class="renesans_texth3">Паоло Веронезе</div>
                                <div class="renesans_texth2_second">народження венери</div>
                                <div class="renesans_texth3_second">Сандро Боттічеллі</div>
                                <img src="../static/images/vesilla.svg" alt="img" class="kanaimg">
                                <img src="../static/images/venera.svg" alt="img" class="veneraimg">
                                <img src="../static/images/rorate kana.svg" alt="img" class="kanaimg__rotate">
                                <img src="../static/images/venera rorate.svg" alt="img" class="veneraimg__rotate">
                                <img src="../static/images/venera mobile.svg" alt="img" class="veneraimg__mobile">
                                <img src="../static/images/kanaformobile.svg" alt="img" class="kana__mobile">
                                <div class="renesans_redball_first"></div>
                                <div class="renesans_redball_second"></div>
                            </div>
                            <div class="barocco_block">
                                <img src="../static/images/barocco petro.svg" alt="photo" class="jesus">
                                <img src="../static/images/gerzhog.svg" alt="photo" class="horse">
                                <img src="../static/images/mobile_jesus.svg" alt="photo" class="jesus_mobile">
                                <img src="../static/images/horse_mobile.svg" alt="photo" class="horse_mobile">
                                <div class="barocco_first_border"></div>
                                <div class="barocco_second_border"></div>
                                <div class="barocco_border_for_peter"></div>
                                <div class="barocco_circle"></div>
                                <div class="barocco_h1text">Бароко</div>
                                <div class="barocco_block_for_text">
                                    <div class="box_for_border">
                                        <div class="barocco_texth2">розп'яття святого петра</div>
                                    </div>
                                    <div class="barocco_texth3">Мікіланджело Караваджо</div>
                                    <div class="box_for_border2">
                                        <div class="barocco_texth2_second">Кінний портрет герцога лерма</div>
                                    </div>
                                    <div class="barocco_texth3_second">Харменс ван Рейн Рембранд</div>
                                </div>
                            </div>
                            <div class="clasizhizm_block">
                                <h1 class="clasizhizm_block_h1text">Класицизм</h1>
                                <h2 class="clasizhizm_block_h2text">Сабіянки</h2>
                                <h3 class="clasizhizm_block_h3text">Жак-Луї Давид</h3>
                                <div class="clasizhizm_border_first"></div>
                                <div class="clasizhizm_border_second"></div>
                                <img src="../static/images/clasizhizm.svg" alt="img" class="clasizhizm_img">
                                <img src="../static/images/clasizhi_mobile.svg" alt="img" class="clasizhizm_img_mobile">
                            </div>
                            </div>
                            <div class="romant_block">
                                <div class="all_container">
                                    <div class="romant_block_h1text">Романтизм</div>
                                    <div class="romant_block_h2text">Сирота на цвинтарі</div>
                                    <div class="romant_block_h3text">Ежен Делакруа</div>
                                    <img src="../static/images/roman_img.svg" alt="img" class="romant_img">
                                    <div class="romant_red_circle1"></div>
                                    <div class="romant_red_circle2"></div>
                                    <div class="romant_red_circle3"></div>
                                    <div class="romant_red_circle4"></div>
                                </div>
                            </div>
                            <div class="real_block">
                                <div class="all_container">
                                    <div class="real_block_h1text">Реалізм</div>
                                    <div class="real_block_h2text">Ранок христового воскресіння</div>
                                    <div class="real_block_h3text">Микола Пимоненко</div>
                                    <img src="../static/images/real_img.svg" alt="img" class="real_img">
                                    <div class="real_red_circle1"></div>
                                </div>        
                            </div>
                            <div class="modern_block">
                                <div class="all_container">
                                    <div class="modern_block_h1text">модернізм</div>
                                    <div class="modern_block_h2text">натюрморт з гітарою</div>
                                    <div class="modern_block_h3text">Хуан ґріс</div>
                                    <img src="../static/images/modern_img.svg" alt="img" class="modern_img">
                                    <div class="modern_red_circle1"></div>
                                    <div class="modern_red_circle2"></div>
                                    </div>
                           </div> 
                        </div>
                    </section>
                    <section class="useful_info" id="useful">
                        <div class="all_container">
                            <div class="useful_info_h1text">Корисна інформація</div>
                            <div class="useful_circle"></div>
                            <div class="vacansies_textblock">
                                <div class="vacansies_textblockh1">вакансії</div>
                                <div class="vacansies_textblockh2">На сайті ви можете подати заявку на вакансії. Вам прийде лист з наявними вакансіями та пропозиціями.</div>
                                <a href="/vacancies" class="vacansies_ontext">подати заявку</a> <br>
                                <img src="../static/images/redArrow 2.svg" alt="" class="vacansies_red_arrow">
                            </div>
                            <div class="musiamshop_textblock">
                                <div class="musiamshop_textblockh1">музейна крамниця</div>
                                <div class="musiamshop_textblockh2">У нашій музейній крамниці ви зможете придбати різноманітні сувеніри, пов'язані з мистецтвом, такі як репродукції картин, книги про мистецтво, магнітики та інші подарунки.</div>
                                <div class="musiamshop_textblockh3">У нашій музейній крамниці ви зможете придбати різноманітні сувеніри, пов'язані з мистецтвом, такі як:</div>
                                <div class="musiamshop_textblockh4">репродукції картин, книги про мистецтво, магнітики та інші подарунки.</div>
                            </div>
                            <img src="../static/images/c_info_1.svg" alt="img" class="useful_img1">
                            <img src="../static/images/c_info_2.svg" alt="img" class="useful_img2">
                            <img src="../static/images/c_info_mobile.svg" alt="img" class="useful_img_mobile">
                        </div>
                        
                    </section>
                    <section id="contacts">
                        {% include 'contacts_block.html' %}
                    </section>
                </div>
            </main>
            <!-- footer -->
            {% include 'footer.html' %} 
        </header>
    </div>


    <script src="../static/script/main.js"></script>
</body>
</html>